#root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vw;
    width: 25vw;
    height: 25vw;
    left: 35%;
    position: absolute;
    display: block;
    top: 10%;
}

#gameboard {
    border: 2px black solid;
    position: relative;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    height: 100%;
}

.space {
    display: flex;
    border: 1px black solid;
    width: calc(33.33% - 2px);
    height: calc(33.33% - 2px);
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#message {
    text-align: center;
}

#reset {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
}

#button, #button:hover {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vw;
    background: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}